h1 {
    font-size: xx-large;
    color: chocolate;
    text-align: center;
}
h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: chocolate;
}
body {
background-color: #1A1A23;
}
.Menu{
background-color: #002924;
text-align: center;
margin-left: 200px;
margin-right: 200px;
font-family: fantasy;
font-size: 5vh;
}
